<div class="clearfix"></div>

<div id="<%= dom_id network %>">
  <table class="table table-striped">
    <tr class="table-header">
      <th class="red">Chain</th>
      <th class="red">Asset</th>
      <th class="red text-end">Total onchain liquidity</th>
      <th width="15%" class="red text-end">Largest trade for stable with < 10% slippage</th>
      <th class="red text-end">1M Average Daily Volume</th>
      <th width="15%" class="red text-end">Does one wallet own more than 20% of tokens in onchain LPs? (Y/N)</th>
      <th class="red text-center">Risk grading</th>
      <th class="red text-end">Last updated</th>
    </tr>
    <% network.tokens.each do |token| %>
    <tr>
      <td style="color: <%= token.network.color %>">
        <strong><%= token.network.name %></strong>
      </td>
      <td>
        <%= link_to token.symbol, token, title: "View rubric for " + token.symbol + " on " + token.network.name, class: "plain_link" %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.liquidity) %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.trade_slippage) %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.volume) %>
      </td>
      <td class="text-center">
        <% if token.centralized? %>
          <span class="text-danger">Yes</span>
        <% else %>
          No
        <% end %>
      </td>
      <td class="text-center">
        <%= link_to token, title: "View rubric for " + token.symbol + " on " + token.network.name do %><strong><%= token.grade %><% end %>
      </td>
      <td class="text-end">
        <%= token.updated_at.strftime("%d %B, %Y") %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td><strong>Totals</strong></td>
      <td><%= network.tokens.count %></td>
      <td class="text-end"><%= number_to_currency(network.tokens.sum(:liquidity)) %></td>
      <td class="text-end">-</td>
      <td class="text-end"><%= number_to_currency(network.tokens.sum(:volume)) %></td>
      <td class="text-center">-</td>
      <td class="text-center">-</td>
      <td class="text-end">-</td>
    </tr>
  </table>
</div>
