<% content_for :title do %>
QiDao Risk Matrix | Chain Information<% end %>
<% content_for :description do %>
<meta name="description" content="Chains supported by QiDao protocol lending vaults.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://riskmanagement.qidao.community">
    <meta property="og:title" content="QiDao Risk Matrix | Chain Information">
    <meta property="og:description" content="Chains supported by QiDao protocol lending vaults.">
    <meta property=“og:image” content="https://i.imgur.com/IJNSl9P.png">
    <meta name=“twitter:card” content=“summary”>
    <meta name="twitter:site" content="@qidaoprotocol">
    <meta name=“twitter:title” content=“QiDao Risk Matrix | Chain Information“>
    <meta name=“twitter:description” content=“Chains supported by QiDao protocol lending vaults.”>
    <meta name=“twitter:creator” content=“@geekvine”>
    <meta name=“twitter:image” content=“https://i.imgur.com/IJNSl9P.png”><% end %>

<div class="clearfix"></div>
<div itemscope itemtype="https://schema.org/Table" id="networks" class="table-responsive">
  <table class="table table-striped table-hover">
    <tr class="table-header">
      <th itemprop="about" class="red"><%= t('list_chain') %></th>
      <th class="red td-10"><%= t('list_explorer') %></th>
      <th class="red">RPCs</th>
      <th class="red text-end"><%= t('list_liquidity') %></th>
      <th class="red text-end"><%= t('list_volume') %></th>
      <th class="red text-end"><%= t('list_debt') %></th>
      <th class="red text-center"><%= t('list_count') %></th>
      <% if user_signed_in? && current_user.admin? %>
        <th class="red text-center">Actions</th>
      <% end %>
    </tr>
    <% @networks.each do |network| %>
      <% if network.tokens.size > 0 %>
        <tr>
          <td itemprop="name">
            <span style="color: <%= network.color %> !important"><%= link_to network.name, network, title: "View chain information for " + network.name, class: "plain_link" %></span>
          </td>
          <td itemprop="url"><%= link_to bc_link(network.blockchain_explorer), bc_link(network.blockchain_explorer), title: "View blockchain explorer", target: "_blank", rel: "noopener noreferrer", class: "plain_link" %></td>
          <td class="text-start"><%= link_to network.name + " RPCs", "https://chainlist.org/chain/#{network.chain_id}", title: "Chainlist", target: "_blank", rel: "noopener noreferrer", class: "plain_link" %></td>
          <td class="text-end"><%= number_to_currency(Token.where(network_id: network.id).sum(:liquidity)) %></td>
          <td class="text-end"><%= number_to_currency(Token.where(network_id: network.id).sum(:volume)) %></td>
          <td class="text-end">
            <%= mai(network.tokens.sum(:mai_debt)) %>
          </td>
          <td class="text-center"><%= link_to network.tokens_count, network, title: "View chain information for " + network.name %></td>
          <% if user_signed_in? && current_user.admin? %>
            <td class="text-end">
              <ul class="list-unstyled list-group list-group-horizontal">
                <li class="actions">
                  <%= link_to edit_network_path(network), title: "Edit this chain" do %>
                    <i class="gg-pen"></i>
                  <% end %>
                </li>
                <li class="actions">
                  <%= link_to network, method: :delete, title: "Delete this chain" do %>
                    <i class="gg-trash"></i>
                  <% end %>
                </li>
              </ul>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<%if user_signed_in? && current_user.admin? %>
  <div class="float-lg-end d-none d-lg-block">
    <%= form_with url: import_networks_path, method: :post do |form| %>
      <%= form.file_field :file, class: "form-control-sm", accept: ".csv" %>
      <%= form.button "Import" %>
    <% end %>
  </div>
<% end %>
