<% content_for :title do %>
  QiDao Liquidity Matrix | Chain Information
<% end %>
<div class="clearfix"></div>
<br />
<div id="networks">
  <table class="table table-striped table-hover">
    <tr class="table-header">
      <th class="red">Chain</th>
      <th class="red">Blockchain explorer</th>
      <th class="red text-end">Relevant Onchain Liquidity</th>
      <th class="red text-end">1M Average Trading Volume</th>
      <th class="red text-center">Collateral Count</th>
      <th class="red text-end">Last updated</th>
    </tr>
    <% @networks.each do |network| %>
      <tr>
        <td>
          <span style="color: <%= network.color %> !important"><%= link_to network.name, network, title: "View chain information for " + network.name, class: "plain_link" %></span>
        </td>
        <td><%= link_to bc_link(network.blockchain_explorer), bc_link(network.blockchain_explorer), title: "View blockchain explorer", target: "_blank" %></td>
        <td class="text-end"><%= number_to_currency(Token.where(network_id: network.id).sum(:liquidity)) %></td>
        <td class="text-end"><%= number_to_currency(Token.where(network_id: network.id).sum(:volume)) %></td>
        <td class="text-center"><%= link_to network.tokens.count, network, title: "View chain information for " + network.name %></td>
        <td class="text-end"><%= network.updated_at.strftime("%d %B, %Y") %></td>
      </tr>
    <% end %>
  </table>
</div>
