<% content_for :title do %>
QiDao Risk Matrix | Chain Information<% end %>
<% content_for :description do %>
<meta name="description" content="Chains supported by QiDao protocol lending vaults.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://riskmanagement.qidao.community">
    <meta property="og:title" content="QiDao Risk Matrix | Chain Information">
    <meta property="og:description" content="Chains supported by QiDao protocol lending vaults.">
    <meta property=“og:image” content="https://i.imgur.com/IJNSl9P.png">
    <meta name=“twitter:card” content=“summary”>
    <meta name="twitter:site" content="@qidaoprotocol">
    <meta name=“twitter:title” content=“QiDao Risk Matrix | Chain Information“>
    <meta name=“twitter:description” content=“Chains supported by QiDao protocol lending vaults.”>
    <meta name=“twitter:creator” content=“@geekvine”>
    <meta name=“twitter:image” content=“https://i.imgur.com/IJNSl9P.png”><% end %>

<div class="clearfix"></div>
<div itemscope itemtype="https://schema.org/Table" id="networks" class="table-responsive">
  <table class="table">
    <tr class="table-header">
      <th itemprop="about" class="red"><%= t('list_chain') %></th>
      <th class="red"><%= t('list_explorer') %></th>
      <th class="red td-10">RPCs</th>
      <th class="red text-end"><%= t('list_liquidity') %></th>
      <th class="red text-end"><%= t('list_volume') %></th>
      <th class="red text-end"><%= t('list_chain_debt') %></th>
      <th class="red text-end"><%= t('list_debt') %></th>
      <th class="red text-center"><%= t('list_count') %></th>
      <% if user_signed_in? && current_user.admin? %>
        <th class="red text-center">Actions</th>
      <% end %>
    </tr>
    <% @networks.each do |network| %>
      <% if network.tokens.size > 0 %>
        <tr>
          <td itemprop="name">
            <%= image_tag network.image, class: "network_img" if network.image? %>
            <span style="color: <%= network.color %> !important">
              <strong>
                <%= link_to network.name, network, title: "View chain information for " + network.name, class: "network_link" %>
              </strong>
            </span>
          </td>
          <td itemprop="url"><%= link_to bc_link(network.blockchain_explorer), bc_link(network.blockchain_explorer), title: "View blockchain explorer", target: "_blank", rel: "noopener noreferrer", class: "plain_link" %></td>
          <td class="text-start"><%= link_to "View on Chainlist", "https://chainlist.org/chain/#{network.chain_id}", title: "Chainlist", target: "_blank", rel: "noopener noreferrer", class: "plain_link" %></td>
          <td class="text-end"><%= number_to_currency(network.liquidity) %></td>
          <td class="text-end"><%= number_to_currency(network.volume) %></td>
          <td class="text-end"><%= number_to_currency(network.debtamount) %></td>
          <td class="text-end">
            <%= network.debtpercent %>%
          </td>
          <td class="text-center"><%= link_to network.tokens_count, network, title: "View chain information for " + network.name %></td>
          <% if user_signed_in? && current_user.admin? %>
            <td class="text-end">
              <ul class="list-unstyled list-group list-group-horizontal">
                <li class="actions">
                  <%= link_to edit_network_path(network), title: "Edit this chain" do %>
                    <% if cookies[:theme] == "dark" %>
                      <%= svg_tag "edit-dark" %>
                    <% else %>
                      <%= svg_tag "edit" %>
                    <% end %>
                  <% end %>
                </li>
                <li class="actions">
                  <%= link_to network_path(network), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, title: "Delete this chain" do %>
                    <% if cookies[:theme] == "dark" %>
                      <%= svg_tag "trash-dark" %>
                    <% else %>
                      <%= svg_tag "trash" %>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
