<p style="color: green"><%= notice %></p>
<div class="clearfix"></div>
<br />
<div id="networks">
  <table class="table table-striped table-hover">
    <tr class="table-header">
      <th class="red">Chain</th>
      <th class="red">Blockchain explorer</th>
      <th class="red text-end">Total Onchain Liquidity</th>
      <th class="red text-end">1M Average Trading Volume</th>
      <th class="red text-center">Collateral Count</th>
      <th class="red text-end">Last updated</th>
    </tr>
    <% @networks.each do |network| %>
      <tr>
        <td>
          <span style="color: <%= network.color %> !important"><strong><%= network.name %></strong></span>
          <%= link_to edit_network_path(network), title: "Edit " + network.name do %><%= image_tag "https://img.icons8.com/ios-glyphs/344/edit--v1.png", width: "15px" %><% end %>
        </td>
        <td><%= network.blockchain_explorer %></td>
        <td class="text-end"><%= number_to_currency(Token.where(network_id: network.id).sum(:liquidity)) %></td>
        <td class="text-end"><%= number_to_currency(Token.where(network_id: network.id).sum(:volume)) %></td>
        <td class="text-center"><%= Token.where(network_id: network.id).count %></td>
        <td class="text-end"><%= network.updated_at.strftime("%d %B, %Y") %></td>
      </tr>
    <% end %>
  </table>
</div>
