<% content_for :title do %>
  QiDao Liquidity Matrix | Chain Information
<% end %>
<% content_for :description do %>
  <meta name="description" content="Chains supported by QiDao protocol lending vaults." />
<% end %>
<div class="clearfix"></div>
<div id="networks" class="table-responsive">
  <table class="table table-striped table-hover">
    <tr class="table-header">
      <th class="red">Chain</th>
      <th class="red">Blockchain explorer</th>
      <th class="red text-end">Relevant Onchain Liquidity</th>
      <th class="red text-end">1M Average Trading Volume</th>
      <th class="red text-center">Collateral Count</th>
      <th class="red text-end">Last updated</th>
      <% if user_signed_in? && current_user.admin? %>
        <th class="red text-center">Actions</th>
      <% end %>
    </tr>
    <% @networks.each do |network| %>
      <tr>
        <td>
          <span style="color: <%= network.color %> !important"><%= link_to network.name, network, title: "View chain information for " + network.name, class: "plain_link" %></span>
        </td>
        <td><%= link_to bc_link(network.blockchain_explorer), bc_link(network.blockchain_explorer), title: "View blockchain explorer", target: "_blank" %></td>
        <td class="text-end"><%= number_to_currency(Token.where(network_id: network.id).sum(:liquidity)) %></td>
        <td class="text-end"><%= number_to_currency(Token.where(network_id: network.id).sum(:volume)) %></td>
        <td class="text-center"><%= link_to network.tokens.count, network, title: "View chain information for " + network.name %></td>
        <td class="text-end"><%= network.updated_at.strftime("%d %B, %Y") %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td>
            <ul class="list-unstyled list-group list-group-horizontal">
              <li>
                <%= link_to edit_network_path(network), title: "Edit this chain" do %>
                  <ion-icon name="create-outline"></ion-icon>
                <% end %>
              </li>
              <li>
                <%= link_to network, method: :delete, title: "Delete this chain" do %>
                  <ion-icon name="trash-outline"></ion-icon>
                <% end %>
              </li>
            </ul>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<%if user_signed_in? && current_user.admin? %>
  <div class="float-lg-end d-none d-lg-block">
    <%= form_with url: import_networks_path, method: :post do |form| %>
      <%= form.file_field :file, class: "form-control-sm", accept: ".csv" %>
      <%= form.button "Import" %>
    <% end %>
  </div>
<% end %>
