<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_url, title: "Go home" do %><%= svg_tag "qidao0", class: "logo" %><% end %>
    <div class="d-none d-sm-block">
        <%= link_to root_url, title: "Go home", class: "float-start" do %>
        <h1 class="navbar-name">
          Mai Watch
        </h1>
        <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-links">
        <li class="nav-item">
          <%= link_to dashboard_path, title: "Dashboard", class: "nav-link" do %>
            <%= t('menu_dashboard') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to tokens_path, title: "Assessments", class: "nav-link" do %>
            <%= t('menu_tokens') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "https://medium.com/@qidaorisk", title: "Qi Dao Risk Committee on Medium", target: "_blank", class: "nav-link" do %>
            <%= t('menu_updates') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "https://twitter.com/qidaorisk", title: "Qi Dao Risk Management on Twitter", target: "_blank", class: "nav-link" do %>
            <div class="d-none d-md-none d-lg-block">
              <%= svg_tag "twitter" %>
            </div>
            <div class="d-block d-sm-block d-md-block d-lg-none">
              Twitter
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "https://github.com/spicy-muaddib/qidao_liquidity_matrix", title: "Qi Dao Risk Management on Github", target: "_blank", class: "nav-link" do %>
            <div class="d-none d-md-none d-lg-block">
              <%= svg_tag "github" %>
            </div>
            <div class="d-block d-sm-block d-md-block d-lg-none">
              Github
            </div>
          <% end %>
        </li>
        <li>
          <% qi_url = 'https://coins.llama.fi/prices/current/polygon:0x580a84c73811e1839f75d86d75d88cca0c241ff4' %>
          <% qi_uri = URI(qi_url) %>
          <% qi_response = Net::HTTP.get(qi_uri) %>
          <% qi_price = JSON.parse(qi_response) %>
          <%= link_to "https://docs.mai.finance/functions/smart-contract-addresses#qi-addresses", title: "Qi", target: "_blank", class: "nav-link" do %>
            <%= svg_tag "qidao" %> $<%= qi_price["coins"]["polygon:0x580a84c73811e1839f75d86d75d88cca0c241ff4"]["price"].round(3) %>
          <% end %>
        </li>
        <li>
          <% mai_url = 'https://coins.llama.fi/prices/current/polygon:0xa3fa99a148fa48d14ed51d610c367c61876997f1' %>
          <% mai_uri = URI(mai_url) %>
          <% mai_response = Net::HTTP.get(mai_uri) %>
          <% mai_price = JSON.parse(mai_response) %>
          <%= link_to "https://docs.mai.finance/functions/smart-contract-addresses#mai-mimatic-addresses", title: "Mai", target: "_blank", class: "nav-link" do %>
            <%= svg_tag "mai" %> $<%= mai_price["coins"]["polygon:0xa3fa99a148fa48d14ed51d610c367c61876997f1"]["price"].round(3) %>
          <% end %>
        </li>
        <li class="nav-item dropstart">
          <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="settings">
            <div class="d-none d-md-none d-lg-block">
              <%= svg_tag "gear" %>
            </div>
            <div class="d-block d-sm-block d-md-block d-lg-none">
              <%= t("menu_settings") %>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <% if cookies[:theme] == "light" %>
              <li class="nav-item">
                <%= link_to root_path(theme: "dark"), title: "Dark Mode", class: "dropdown-item" do %>
                  Dark Mode
                <% end %>
              </li>
            <% elsif cookies[:theme] == "dark" %>
              <li class="nav-item">
                <%= link_to root_path(theme: "light"), title: "Light Mode", class: "dropdown-item" do %>
                  Light Mode
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to root_path(theme: "dark"), title: "Dark Mode", class: "dropdown-item" do %>
                  Dark Mode
                <% end %>
              </li>
            <% end %>
            <li class="dropdown-item disabled"><%= t("menu_lang") %></li>
            <ul class="list-unstyled">
              <li class="nav-item"><%= link_to url_for(locale: :en), title: "English", class: "dropdown-item" do %>&#8226; English<% end %></li>
              <li class="nav-item"><%= link_to url_for(locale: :de), title: "Deutsch", class: "dropdown-item" do %>&#8226; Deutsch<% end %></li>
              <li class="nav-item"><%= link_to url_for(locale: :es), title: "Español", class: "dropdown-item" do %>&#8226; Español<% end %></li>
              <li class="nav-item"><%= link_to url_for(locale: :fr), title: "Française", class: "dropdown-item" do %>&#8226; Française<% end %></li>
              <li class="nav-item"><%= link_to url_for(locale: :pt), title: "Português", class: "dropdown-item" do %>&#8226; Português<% end %></li>
            </ul>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <li class="dropdown-item disabled">Admin</li>
                <ul class="list-unstyled">
                  <li class="nav-item"><%= link_to new_token_path, title: "Add new assessment", class: "dropdown-item" do %>&#8226; New Assessment<% end %></li>
                  <li class="nav-item"><%= link_to new_network_path, title: "Add new chain", class: "dropdown-item" do %>&#8226; New Chain<% end %></li>
                </ul>
                <li class="dropdown-item disabled">Account</li>
                <ul class="list-unstyled">
                  <li class="nav-item">
                    <%= link_to edit_user_registration_path, class: "dropdown-item" do %>&#8226; Edit profile<% end %>
                  </li>
                  <li class="list-unstyled">
                    <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" do %>&#8226; Sign out<% end %>
                  </li>
                </ul>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
