<%= form_with(model: token) do |form| %>
  <% if token.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
        <% token.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group input-group-sm">
    <%= form.label :asset, class: "input-group-text" %>
    <%= form.text_field :asset, class: "form-control" %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :symbol, class: "input-group-text" %>
    <%= form.text_field :symbol, class: "form-control" %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :contract_address, class: "input-group-text" %>
    <%= form.text_field :contract_address, class: "form-control"  %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :rubric, class: "input-group-text" %>
    <%= form.text_field :rubric, class: "form-control"  %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :coingecko, class: "input-group-text" %>
    <%= form.text_field :coingecko, class: "form-control"  %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :network, class: "input-group-text" %>
    <% if token.network_id? %>
      <%= form.select :network_id, options_from_collection_for_select(@networks, "id", "name", token.network_id), class: "form-select" %>
    <% else %>
      <%= form.select :network_id, options_from_collection_for_select(@networks, "id", "name"), class: "form-select" %>
    <% end %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :liquidity, class: "input-group-text" %>
    <%= form.text_field :liquidity, class: "form-control"  %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :trade_slippage, class: "input-group-text" %>
    <%= form.text_field :trade_slippage, class: "form-control"  %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :volume, class: "input-group-text" %>
    <%= form.text_field :volume, class: "form-control"  %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :centralized, class: "input-group-text" %>
    <%= form.check_box :centralized %>
  </div>
  <br />
  <div class="input-group input-group-sm">
    <%= form.label :grade, class: "input-group-text" %>
    <%= form.text_field :grade, class: "form-control"  %>
  </div>
  <br />
  <div>
    <%= form.submit %>
  </div>
<% end %>
