<div  itemscope itemtype="https://schema.org/Table" id="tokens" class="table-responsive">
  <table class="table table-striped align-middle">
    <tr class="table-header">
      <th itemprop="about" class="red">
        <%= sort_link(column: "symbol", label: t('list_token')) %>
        <%= sort_indicator if params[:column] == "symbol" %>
      </th>
      <th class="red">
        <%= t('list_chain') %>
      </th>
      <th class="red text-end">
        <%= sort_link(column: "liquidity", label: t('list_liquidity')) %>
        <%= sort_indicator if params[:column] == "liquidity" %>
      </th>
      <th class="red text-end td-15">
        <%= sort_link(column: "trade_slippage", label: t('list_slippage')) %>
        <%= sort_indicator if params[:column] == "trade_slippage" %>
      </th>
      <th class="red text-end">
        <%= sort_link(column: "volume", label: t('list_volume')) %>
        <%= sort_indicator if params[:column] == "volume" %>
      </th>
      <th class="red text-end">
        <%= sort_link(column: "mai_debt", label: t('list_debt')) %>
        <%= sort_indicator if params[:column] == "mai_debt" %>
      </th>
      <th class="red text-end td-10">
        <%= sort_link(column: "centralized", label: t('list_centralization')) %>
        <%= sort_indicator if params[:column] == "centralized" %>
      </th>
      <th class="red text-center"><%= t('list_available') %></th>
      <th class="red text-center"><%= link_to t('list_grade'), tokens_path, title: "Risk Grading" %></th>
      <% if user_signed_in? && current_user.admin? %>
        <th class="red text-center"><%= t('actions') %></th>
      <% end %>
    </tr>
    <% @tokens.each do |token| %>
    <tr>
      <td itemprop="name">
        <%= link_to token, title: "View rubric for " + token.symbol + " on " + token.network.name, class: "plain_link" do %>
          <strong><%= token.symbol %></strong>
        <% end %>
        <% if token.created_at > (Date.today - 5.days) %>
          <span class="new"><%= t('list_new') %></span>
        <% end %>
      </td>
      <td itemprop="genre" style="color: <%= token.network.color %>">
        <%= link_to token.network.name, token.network, title: "View chain information for " + token.network.name, class: "plain_link" %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.liquidity) %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.trade_slippage) %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.volume) %>
      </td>
      <td class="text-end">
        <% if token.mai_debt? %>
          <%= mai(token.mai_debt) %>
        <% else %>
          n/a
        <% end %>
      </td>
      <td class="text-center">
        <% if token.centralized? %>
          <span class="text-danger"><%= t('list_yes') %></span>
        <% else %>
          <%= t('list_no') %>
        <% end %>
      </td>
      <td itemprop="provider" class="text-center">
        <% if token.minter.name == "Not Released" %>
          <span class="text-danger"><%= t('list_released') %></span>
        <% else %>
          <%= link_to token.minter.name, token.minter.link, title: "Go to " + token.minter.name, class: "plain_link" %>
        <% end %>
      </td>
      <td itemprop="aggregateRating" class="text-center">
        <%= link_to token, title: "View rubric for " + token.symbol + " on " + token.network.name do %>
          <strong><%= token.grade %></strong>
        <% end %>
      </td>
      <% if user_signed_in? && current_user.admin? %>
        <td class="text-end">
          <ul class="list-unstyled list-group list-group-horizontal">
            <li class="actions">
              <%= link_to edit_token_path(token), title: "Edit this token" do %>
                <%= svg_tag "edit" %>
              <% end %>
            </li>
            <li class="actions">
              <%= link_to token, method: :delete, title: "Delete this token" do %>
                <%= svg_tag "trash" %>
              <% end %>
            </li>
          </ul>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <% if @token_count > 15 %>
    <div class="position-absolute start-50 translate-middle-x"><%== pagy_bootstrap_nav(@pagy) %></div>
  <% end %>
</div>
