<div id="tokens">
  <table class="table table-striped">
    <%= link_to 'Export Data', tokens_path(format: :xlsx), title: "Export data to spreadsheet", class: "btn-header float-end" %>
    <tr class="table-header">
      <th class="red">
        <%= sort_link(column: "symbol", label: "Token") %>
        <%= sort_indicator if params[:column] == "symbol" %>
      </th>
      <th class="red">
        Chain
      </th>
      <th class="red text-end">
        <%= sort_link(column: "liquidity", label: "Total Onchain Liquidity") %>
        <%= sort_indicator if params[:column] == "liquidity" %>
      </th>
      <th width="15%" class="red text-end">
        <%= sort_link(column: "trade_slippage", label: "Largest trade for stable with < 10% slippage") %>
        <%= sort_indicator if params[:column] == "trade_slippage" %>
      </th>
      <th class="red text-end">
        <%= sort_link(column: "volume", label: "1M Average Daily Volume") %>
        <%= sort_indicator if params[:column] == "volume" %>
      </th>
      <th width="15%" class="red text-end">
        <%= sort_link(column: "centralized", label: "Does one wallet own more than 20% of tokens in onchain LPs?") %>
        <%= sort_indicator if params[:column] == "centralized" %>
      </th>
      <th class="red text-center"><%= link_to "Risk Grading", tokens_path %></th>
      <th class="red text-end">Last updated</th>
    </tr>
    <% @tokens.each do |token| %>
    <tr>
      <td>
        <%= link_to token, title: "View rubric for " + token.symbol + " on " + token.network.name, class: "plain_link" do %><strong><%= token.symbol %><% end %>
      </td>
      <td style="color: <%= token.network.color %>">
        <%= link_to token.network.name, token.network, title: "View chain information for " + token.network.name, class: "plain_link" %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.liquidity) %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.trade_slippage) %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.volume) %>
      </td>
      <td class="text-center">
        <% if token.centralized? %>
          <span class="text-danger">Yes</span>
        <% else %>
          No
        <% end %>
      </td>
      <td class="text-center">
        <%= link_to token, title: "View rubric for " + token.symbol + " on " + token.network.name do %><strong><%= token.grade %><% end %>
      </td>
      <td class="text-end">
        <%= token.updated_at.strftime("%d %B, %Y") %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
