
<div id="tokens">
  <table class="table table-striped table-hover">
    <tr class="table-header">
      <th class="red">Asset</th>
      <th class="red">Chain</th>
      <th class="red text-end">Total onchain liquidity</th>
      <th class="red text-end">Largest trade <10% slippage</th>
      <th class="red text-end">1M Average Daily Volume</th>
      <th class="red text-center">Does one wallet own >20% of tokens?</th>
      <th class="red text-center">Risk grading</th>
      <th class="red text-end">Last updated</th>
    </tr>
    <% @tokens.each do |token| %>
    <tr>
      <td>
        <%= token.symbol %>
      </td>
      <td style="color: <%= token.network.color %>">
        <%= token.network.name %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.liquidity) %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.trade_slippage) %>
      </td>
      <td class="text-end">
        <%= number_to_currency(token.volume) %>
      </td>
      <td class="text-center">
        <% if token.centralized? %>
          <span class="text-danger">YES</span>
        <% else %>
          NO
        <% end %>
      </td>
      <td class="text-center">
        <% if token.rubric? %>
          <%= link_to token, title: "Rubric for " + token.asset + " on " + token.network.name do %><strong><%= token.grade %><% end %>
        <% else %>
          <%= token.grade %>
        <% end %>
      </td>
      <td class="text-end">
        <%= token.updated_at.strftime("%d %B, %Y") %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
