<div class="clearfix"></div>
<div class="info table-responsive">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class="float-end">
        <ul class="list-unstyled list-group list-group-horizontal">
          <li class="actions">
            <%= link_to edit_token_path(token), title: "Edit this token" do %>
              <% if cookies[:theme] == "dark" %>
                <%= svg_tag "edit-dark" %>
              <% else %>
                <%= svg_tag "edit" %>
              <% end %>
            <% end %>
          </li>
          <li class="actions">
            <%= link_to token_path(token), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, title: "Delete this token" do %>
              <% if cookies[:theme] == "dark" %>
                <%= svg_tag "trash-dark" %>
              <% else %>
                <%= svg_tag "trash" %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>
  <ul class="list-unstyled">
    <li class="token_name">
      <%= token.symbol %>
      (<%= link_to token.network.name, token.network, title: "View chain information for " + token.network.name, class: "plain_link", style: "color: #{token.network.color}" %>)</li>
    <br />
    <li><strong>Coingecko:</strong> <%= link_to token.coingecko, token.coingecko, title: "Coingecko", target: "_blank", rel: "noopener noreferrer" %></li>
    <li><strong>Coinmarketcap:</strong> <%= link_to token.coinmarketcap, token.coinmarketcap, title: "CoinMarketCap", target: "_blank", rel: "noopener noreferrer" %></li>
    <li><strong><%= t('list_contract') %>:</strong> <%= link_to token.network.blockchain_explorer + token.contract_address, token.network.blockchain_explorer + token.contract_address, title: "Blockchain Explorer", target: "_blank", rel: "noopener noreferrer" %></li>
    <li><strong><%= t('rubric_updated') %>:</strong> <%= token.updated_at.strftime("%d %B, %Y") %></li>
  </ul>
  <table class="table table-bordered rubric">
    <tr class="table-header">
      <th colspan="2" class="text-center bold"><%= t('rubric_smartcont') %></th>
      <th colspan="3" class="text-center bold"><%= t('rubric_counter') %></th>
      <th colspan="4" class="text-center bold"><%= t('rubric_market') %></th>
      <th colspan="1" rowspan="3" class="text-center bold"><%= t('rubric_risk') %></th>
    </tr>
    <tr>
      <td colspan="1" class="text-center bold"><%= t('rubric_days') %></td>
      <td colspan="1" class="text-center bold "><%= t('rubric_trx') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_holders') %></td>
      <td colspan="2" class="text-center bold"><%= t('rubric_perms') %></td>
      <td colspan="2" class="text-center bold"><%= t('rubric_mcap') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_vol') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_volatility') %></td>
    </tr>
    <tr>
      <td colspan="1" class="text-center"><%= token.contract_days %></td>
      <td colspan="1" class="text-center"><%= token.contract_transactions %></td>
      <td colspan="1" class="text-center"><%= token.holders %></td>
      <td colspan="2" class="text-center"><%= token.permissions %></td>
      <td colspan="2" class="text-center"><%= number_to_currency(token.risk_marketcap) %></td>
      <td colspan="1" class="text-center"><%= number_to_currency(token.risk_volume) %></td>
      <td colspan="1" class="text-center"><%= token.risk_volatility %></td>
    <tr>
      <td colspan="2" class="text-center bold"><%= t('rubric_maturity') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_centralization') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_trust') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_average') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_mcap') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_liquidity') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_volatility2') %></td>
      <td colspan="1" class="text-center bold"><%= t('rubric_average') %></td>
      <td colspan="1" rowspan="2" class="text-center bold gray"><%= token.grade %></td>
    </tr>
    <tr>
      <td colspan="2" class="text-center bold gray"><%= num_to_grade(risk_grade(token).to_f) %></td>
      <td colspan="1" class="text-center bold gray"><%= num_to_grade(holder_grade(token).to_f) %></td>
      <td colspan="1" class="text-center bold gray"><%= num_to_grade(permissions_grade(token).to_f) %></td>
      <td colspan="1" class="text-center bold gray"><%= counterparty_grade(token) %></td>
      <td colspan="1" class="text-center bold gray"><%= num_to_grade(marketcap_grade(token).to_f) %></td>
      <td colspan="1" class="text-center bold gray"><%= num_to_grade(volume_grade(token).to_f) %></td>
      <td colspan="1" class="text-center bold gray"><%= num_to_grade(volatility_grade(token).to_f) %></td>
      <td colspan="1" class="text-center bold gray"><%= num_to_grade((marketcap_grade(token).to_f + volume_grade(token).to_f + volatility_grade(token).to_f)/3) %></td>
  </table>
  <br />
  <div class="clearfix"></div>

  <ul class="list-unstyled">
    <li>
      <strong><%= t('list_cdr') %>:</strong>
      <% if grade_to_number(token.grade).to_f.between?(94, 100) %>
        <%= round_up(((200 - grade_to_number(token.grade).to_f) * (1 + token.risk_volatility + (token.trade_slippage / token.liquidity))), 5) %>%
      <% elsif grade_to_number(token.grade).to_f.between?(90, 93) %>
        <%= round_up(((205 - grade_to_number(token.grade).to_f) * (1 + token.risk_volatility + (token.trade_slippage / token.liquidity))), 5) %>%
      <% elsif grade_to_number(token.grade).to_f.between?(84, 89) %>
        <%= round_up(((210 - grade_to_number(token.grade).to_f) * (1 + token.risk_volatility + (token.trade_slippage / token.liquidity))), 5) %>%
      <% elsif grade_to_number(token.grade).to_f.between?(80, 83) %>
        <%= round_up(((215 - grade_to_number(token.grade).to_f) * (1 + token.risk_volatility + (token.trade_slippage / token.liquidity))), 5) %>%
      <% elsif grade_to_number(token.grade).to_f.between?(77, 79) %>
        <%= round_up(((220 - grade_to_number(token.grade).to_f) * (1 + token.risk_volatility + (token.trade_slippage / token.liquidity))), 5) %>%
      <% elsif grade_to_number(token.grade).to_f.between?(74, 76) %>
        <%= round_up(((225 - grade_to_number(token.grade).to_f) * (1 + token.risk_volatility + (token.trade_slippage / token.liquidity))), 5) %>%
      <% elsif grade_to_number(token.grade).to_f.between?(70, 73) %>
        <%= round_up(((230 - grade_to_number(token.grade).to_f) * (1 + token.risk_volatility + (token.trade_slippage / token.liquidity))), 5) %>%
      <% else %>
        Not recommended as collateral
      <% end %>
      <%= svg_tag "asterisk" %>
    </li>
    <li><strong><%= t('list_liquidity') %>:</strong> <%= number_to_currency(token.liquidity) %></li>
    <li><strong><%= t('list_volume') %>:</strong> <%= number_to_currency(token.volume) %></li>
    <li><strong><%= t('list_slippage') %>:</strong> <%= number_to_currency(token.trade_slippage) %></li>
  </ul>
  <p><i><%= svg_tag "asterisk" %> <%= t('list_cdr_note') %>.</i></p>

  <ul class="list-unstyled">
    <li class="token_name"><strong><%= t('rubric_rubric') %></strong></li>
  </ul>

  <table class="rubric">
    <tr class="top">
      <th colspan="2" rowspan="2" class="left right"></th>
      <th colspan="1" class="text-center left right"><%= t('rubric_days') %></th>
      <th colspan="1" class="text-center right"><%= t('rubric_trx') %></th>
      <th colspan="1" class="text-center right"><%= t('rubric_holders') %></th>
      <th colspan="1" class="text-center right"><%= t('rubric_perms') %></th>
      <th colspan="1" class="text-center right"><%= t('rubric_mcap') %></th>
      <th colspan="1" class="text-center right"><%= t('rubric_vol') %></th>
      <th colspan="1" class="text-center right"><%= t('rubric_volatility') %></th>
    </tr>
    <tr class="top">
      <td colspan="1" class="text-center">></td>
      <td colspan="1" class="text-center right">></td>
      <td colspan="2" class="text-start right"><small><%= t('rubric_perms_message') %></small></td>
      <td colspan="1" class="text-center right">></td>
      <td colspan="1" class="text-center right"><small>1M &amp; 3M></small></td>
      <td colspan="1" class="text-center right"><small><%= t('rubric_volatility_message') %></small></td>
    </tr>
    <tr class="top">
      <td colspan="2" class="left right a">A+</td>
      <td colspan="1" class="text-center">730</td>
      <td colspan="1" class="text-center right">500000000</td>
      <td colspan="1" class="text-end">100000000</td>
      <td colspan="1" class="text-start right">ETH</td>
      <td colspan="1" class="text-end right"><%= number_to_currency(14900000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(20000000000) %></td>
      <td colspan="1" class="text-end right">0.005</td>
    </tr>
    <tr>
      <td colspan="2" class="left right a">A</td>
      <td colspan="1" class="text-center">730</td>
      <td colspan="1" class="text-center right">100000000</td>
      <td colspan="1" class="text-end">1000000</td>
      <td colspan="1" class="text-start right"><%= t('perm_centreg') %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(10000000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(10000000000) %></td>
      <td colspan="1" class="text-end right">0.015</td>
    </tr>
    <tr>
      <td colspan="2" class="left right a">A-</td>
      <td colspan="1" class="text-center">730</td>
      <td colspan="1" class="text-center right">10000000</td>
      <td colspan="1" class="text-end">500000</td>
      <td colspan="1" class="text-start right"></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(500000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(2500000000) %></td>
      <td colspan="1" class="text-end right">0.025</td>
    </tr>
    <tr class="top">
      <td colspan="2" class="left right b">B+</td>
      <td colspan="1" class="text-center">365</td>
      <td colspan="1" class="text-center right">1000000</td>
      <td colspan="1" class="text-end">100000</td>
      <td colspan="1" class="text-start right"><%= t('perm_permissionless') %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(500000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(700000000) %></td>
      <td colspan="1" class="text-end right">0.038</td>
    </tr>
    <tr>
      <td colspan="2" class="left right b">B</td>
      <td colspan="1" class="text-center">365</td>
      <td colspan="1" class="text-center right">350000</td>
      <td colspan="1" class="text-end">50000</td>
      <td colspan="1" class="text-start right"></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(250000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(500000000) %></td>
      <td colspan="1" class="text-end right">0.051</td>
    </tr>
    <tr>
      <td colspan="2" class="left right b">B-</td>
      <td colspan="1" class="text-center"></td>
      <td colspan="1" class="text-center right"></td>
      <td colspan="1" class="text-end">25000</td>
      <td colspan="1" class="text-start right"><%= t('perm_pof') %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(100000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(100000000) %></td>
      <td colspan="1" class="text-end right">0.064</td>
    </tr>
    <tr class="top">
      <td colspan="2" class="left right c">C+</td>
      <td colspan="1" class="text-center">365</td>
      <td colspan="1" class="text-center right">100000</td>
      <td colspan="1" class="text-end">10000</td>
      <td colspan="1" class="text-start right"></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(50000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(20000000) %></td>
      <td colspan="1" class="text-end right">0.079</td>
    </tr>
    <tr>
      <td colspan="2" class="left right c">C</td>
      <td colspan="1" class="text-center"></td>
      <td colspan="1" class="text-center right"></td>
      <td colspan="1" class="text-end"></td>
      <td colspan="1" class="text-start right"><%= t('perm_somecontrol') %></td>
      <td colspan="1" class="text-end right"></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(5000000) %></td>
      <td colspan="1" class="text-end right">0.094</td>
    </tr>
    <tr>
      <td colspan="2" class="left right c">C-</td>
      <td colspan="1" class="text-center"></td>
      <td colspan="1" class="text-center right">100000</td>
      <td colspan="1" class="text-end">2500</td>
      <td colspan="1" class="text-start right"></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(30000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(1000000) %></td>
      <td colspan="1" class="text-end right">0.109</td>
    </tr>
    <tr>
      <td colspan="2" class="left right c">C-</td>
      <td colspan="1" class="text-center">365</td>
      <td colspan="1" class="text-center right">25000</td>
      <td colspan="1" class="text-end"></td>
      <td colspan="1" class="text-start right"><%= t('perm_mintcontrol') %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(15000000) %></td>
      <td colspan="1" class="text-end right"></td>
      <td colspan="1" class="text-end right"></td>
    </tr>
    <tr class="top">
      <td colspan="2" class="left right d">D+</td>
      <td colspan="1" class="text-center"></td>
      <td colspan="1" class="text-center right">25000</td>
      <td colspan="1" class="text-end"></td>
      <td colspan="1" class="text-start right"><%= t('perm_centaudit') %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(10000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(500000) %></td>
      <td colspan="1" class="text-end right">0.124</td>
    </tr>
    <tr>
      <td colspan="2" class="left right d">D</td>
      <td colspan="1" class="text-center">365</td>
      <td colspan="1" class="text-center right"></td>
      <td colspan="1" class="text-end"></td>
      <td colspan="1" class="text-start right"><%= t('perm_cent') %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(5000000) %></td>
      <td colspan="1" class="text-end right"><%= number_to_currency(250000) %></td>
      <td colspan="1" class="text-end right">0.139</td>
    </tr>
    <tr class="bottom">
      <td colspan="2" class="left right d">D-</td>
      <td colspan="1" class="text-center"></td>
      <td colspan="1" class="text-center right"></td>
      <td colspan="1" class="text-end"></td>
      <td colspan="1" class="text-start right"><%= t('perm_opaque') %></td>
      <td colspan="1" class="text-end right"></td>
      <td colspan="1" class="text-end right"></td>
      <td colspan="1" class="text-end right"></td>
    </tr>
  </table>
  <br />

  <ul class="list-unstyled">
    <li class="token_name"><strong><%= t('rubric_threshold') %></strong></li>
    <br />
    <li><strong>Cs</strong> <%= t('rubric_threshold_message') %></li>
  </ul>
</div>
