<div id="<%= dom_id token %>">
  <p>
    <strong>Asset:</strong>
    <%= token.asset %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= token.symbol %>
  </p>

  <p>
    <strong>Liquidity:</strong>
    <%= token.liquidity %>
  </p>

  <p>
    <strong>Trade slippage:</strong>
    <%= token.trade_slippage %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= token.volume %>
  </p>

  <p>
    <strong>Centralized:</strong>
    <%= token.centralized %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= token.grade %>
  </p>

</div>
