<div class="clearfix"></div>
<br />
<ul class="list-unstyled">
  <li class="token_name"><strong>Token Name:</strong> WETH (Optimism)</li>
  <br />
  <li><strong>Coingecko link:</strong> <%= link_to token.coingecko, token, title: "Coingecko" %></li>
  <li><strong>Coinmarketcap link:</strong> https://coinmarketcap.com/currencies/ethereum/</li>
  <li><strong>Recommended ratio: 140-150%</strong></li>
</ul>
<br />
<table class="table-bordered rubric">
  <tr class="table-header">
    <th colspan="2" class="text-center bold">Smart Contract Risk</th>
    <th colspan="3" class="text-center bold">Counterparty Risk</th>
    <th colspan="4" class="text-center bold">Market Risk</th>
    <th colspan="1" rowspan="3" class="text-center bold">Overall Risk</th>
  </tr>
  <tr>
    <td colspan="1" class="text-center bold">Days</td>
    <td colspan="1" class="text-center bold ">Transactions</td>
    <td colspan="1" class="text-center bold">Holders</td>
    <td colspan="2" class="text-center bold">Permission</td>
    <td colspan="2" class="text-center bold">Market Cap</td>
    <td colspan="1" class="text-center bold">Average Daily Volume 3M</td>
    <td colspan="1" class="text-center bold">Normalized Volatility</td>
  </tr>
  <tr>
    <td colspan="1" class="text-center">366</td>
    <td colspan="1" class="text-center"><%= number_to_currency(3931108) %></td>
    <td colspan="1" class="text-center">13675</td>
    <td colspan="2" class="text-center">Permissionless</td>
    <td colspan="2" class="text-center"><%= number_to_currency(148622605231) %></td>
    <td colspan="1" class="text-center"><%= number_to_currency(17419080405) %></td>
    <td colspan="1" class="text-center">0.0607</td>
  <tr>
    <td colspan="2" class="text-center bold">Maturity</td>
    <td colspan="1" class="text-center bold">Centralization</td>
    <td colspan="1" class="text-center bold">Trust</td>
    <td colspan="1" class="text-center bold">Diversified Average</td>
    <td colspan="1" class="text-center bold">Market Cap</td>
    <td colspan="1" class="text-center bold">Liquidity</td>
    <td colspan="1" class="text-center bold">Volatility</td>
    <td colspan="1" class="text-center bold">Diversified Average</td>
    <td colspan="1" rowspan="2" class="text-center bold gray">B+</td>
  </tr>
  <tr>
    <td colspan="2" class="text-center bold gray">B+</td>
    <td colspan="1" class="text-center bold gray">C+</td>
    <td colspan="1" class="text-center bold gray">B+</td>
    <td colspan="1" class="text-center bold gray">B</td>
    <td colspan="1" class="text-center bold gray">A+</td>
    <td colspan="1" class="text-center bold gray">A</td>
    <td colspan="1" class="text-center bold gray">B</td>
    <td colspan="1" class="text-center bold gray">A-</td>
</table>
<br />
<%= render "rubric" %>
