<% content_for :title do %>
QiDao Risk Matrix | <%= @token.symbol %> (<%= @token.network.name %>) Risk Assessment<% end %>
<% content_for :description do %>
<meta name="description" content="QiDao risk assessment rubric for <%= @token.symbol %> on <%= @token.network.name %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mai.watch">
    <meta property="og:title" content="QiDao Risk Matrix | <%= @token.symbol %> (<%= @token.network.name %>) Risk Assessment">
    <meta property="og:description" content="QiDao risk assessment rubric for <%= @token.symbol %> on <%= @token.network.name %>">
    <meta property=“og:image” content=“https://i.imgur.com/IJNSl9P.png”>
    <meta name=“twitter:card” content=“summary”>
    <meta name="twitter:site" content="@qidaoprotocol">
    <meta name=“twitter:title” content=“QiDao Risk Matrix | <%= @token.symbol %> (<%= @token.network.name %>) Risk Assessment“>
    <meta name=“twitter:description” content=“QiDao risk assessment rubric for <%= @token.symbol %> on <%= @token.network.name %>">
    <meta name=“twitter:creator” content=“@qidaorisk”>
    <meta name=“twitter:image” content=“https://i.imgur.com/IJNSl9P.png”><% end %>

<%= render "rubric", token: @token %>

<div class="clearfix"></div>
