<% content_for :title do %>
  QiDao Liquidity Matrix | Charts
<% end %>

<div class="clearfix"></div>

<br />
<div class="charts">
  <div class="row">
    <div class="col text-center info-box">
      <h4>Available onchain liquidity</h4>
      <span class="large-text">
        <%= number_to_currency(Token.all.sum(:liquidity)) %>
      </span>
    </div>
    <div class="col text-center info-box">
      <h4>Total Chains</h4>
      <span class="large-text"><%= Network.all.count %></span>
    </div>
    <div class="col text-center info-box">
      <h4>Total Collaterals</h4>
      <span class="large-text"><%= Token.all.count %></span>
    </div>
    <div class="col text-center info-box">
      <h4>Vault Platforms</h4>
      <span class="large-text"><%= Minter.all.count %></span>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <h3>Tokens by liquidity</h3>
      <%= pie_chart @chart_liquidity,
            donut: "true", prefix: "$", thousands: ",", legend: "right", download: "true" %>
    </div>
    <div class="col">
      <h3>Tokens by volume</h3>
      <%= pie_chart @chart_volume,
            donut: "true", prefix: "$", thousands: ",", legend: "right", download: "true" %>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col info-box">
      <h4>Top 10 By Liquidity</h4>
      <ol>
        <% @byliquidity.each do |token| %>
          <li>
            <%= token.symbol %>  (<%= token.network.name %>):
            <span class="float-end"><%= number_to_currency(token.liquidity) %></span>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="col info-box">
      <h4>Top 10 By Volatility</h4>
      <ol>
        <% @byvolatility.each do |token| %>
          <li>
            <%= token.symbol %>  (<%= token.network.name %>):
            <span class="float-end"><%= token.risk_volatility %></span>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="col info-box">
      <h4>Top 10 By Overall Score</h4>
      <ol>
        <% @byscore.each do |token| %>
          <li>
            <%= token.symbol %> (<%= token.network.name %>):
            <span class="float-end"><%= token.grade %></span>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
