<% content_for :title do %>
  QiDao Risk Matrix | Charts
<% end %>
<% content_for :description do %>
  <meta name="description" content="Dashboard for QiDao protocol collaterals including liquidity, volume, and top 10 collaterals by category." />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://riskmanagement.qidao.community">
  <meta property="og:title" content="QiDao Risk Matrix | Chain Information">
  <meta property="og:description" content="Dashboard for QiDao protocol collaterals including liquidity, volume, and top 10 collaterals by category.">
  <meta property=“og:image” content="https://i.imgur.com/IJNSl9P.png">
  <meta name=“twitter:card” content=“summary”>
  <meta name="twitter:site" content="@qidaoprotocol">
  <meta name=“twitter:title” content=“QiDao Risk Matrix | Charts“>
  <meta name=“twitter:description” content=“Dashboard for QiDao protocol collaterals including liquidity, volume, and top 10 collaterals by category.”>
  <meta name=“twitter:creator” content=“@geekvine”>
  <meta name=“twitter:image” content=“https://i.imgur.com/IJNSl9P.png”>
<% end %>

<div class="clearfix"></div>

<div class="info">
  <div class="row">
    <div class="col text-center info-box">
      <h4><%= t('dash_liquidity') %></h4>
      <span class="large-text">
        <%= number_to_currency(Token.all.sum(:liquidity)) %>
      </span>
    </div>
    <div class="col text-center info-box">
      <h4><%= t('dash_chains') %></h4>
      <span class="large-text"><%= Network.all.count %></span>
    </div>
    <div class="col text-center info-box">
      <h4><%= t('dash_tokens') %></h4>
      <span class="large-text"><%= Token.all.count %></span>
    </div>
    <div class="col text-center info-box">
      <h4><%= t('dash_platforms') %></h4>
      <span class="large-text"><%= Minter.where.not(link: "").count %></span>
    </div>
    <div class="col text-center info-box">
      <h4><%= t('list_debt') %></h4>
      <span class="large-text"><%= mai(Token.sum(:mai_debt)) %></span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <h3><%= t('dash_token_liq') %></h3>
      <%= pie_chart @chart_liquidity,
            donut: "true", prefix: "$", thousands: ",", legend: "right" %>
    </div>
    <div class="col">
      <h3><%= t('dash_token_vol') %></h3>
      <%= pie_chart @chart_volume,
            donut: "true", prefix: "$", thousands: ",", legend: "right" %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col info-box">
      <h4><%= t('dash_score_topten') %></h4>
      <ol>
        <% @byscore.each do |token| %>
          <li>
            <strong><%= token.symbol %></strong> (<span style="color: <%= token.network.color %>"><%= token.network.name %></span>) -
            <%= token.grade %>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="col info-box">
      <h4><%= t('dash_vol_topten') %></h4>
      <ol>
        <% @byvolatility.each do |token| %>
          <li>
            <strong><%= token.symbol %></strong>  (<span style="color: <%= token.network.color %>"><%= token.network.name %></span>) -
            <%= token.risk_volatility %>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="col info-box">
      <h4><%= t('dash_liq_topten') %></h4>
      <ol>
        <% @byliquidity.each do |token| %>
          <li>
            <strong><%= token.symbol %></strong>  (<span style="color: <%= token.network.color %>"><%= token.network.name %></span>) -
            <%= number_to_currency(token.liquidity) %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
  <p><strong><%= t('dash_message') %></strong></p>
</div>
