<% content_for :title do %>
  QiDao Risk Matrix | Charts
<% end %>
<% content_for :description do %>
  <meta name="description" content="Dashboard for QiDao protocol collaterals including liquidity, volume, and top 25 collaterals by category." />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://riskmanagement.qidao.community">
  <meta property="og:title" content="QiDao Risk Matrix | Chain Information">
  <meta property="og:description" content="Dashboard for QiDao protocol collaterals including liquidity, volume, and top 25 collaterals by category.">
  <meta property=“og:image” content="https://i.imgur.com/IJNSl9P.png">
  <meta name=“twitter:card” content=“summary”>
  <meta name="twitter:site" content="@qidaoprotocol">
  <meta name=“twitter:title” content=“QiDao Risk Matrix | Charts“>
  <meta name=“twitter:description” content=“Dashboard for QiDao protocol collaterals including liquidity, volume, and top 25 collaterals by category.”>
  <meta name=“twitter:creator” content=“@geekvine”>
  <meta name=“twitter:image” content=“https://i.imgur.com/IJNSl9P.png”>
<% end %>

<div class="clearfix"></div>

<div class="info">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 text-center align-items-end">
      <div class="info-box">
        <h4><%= svg_tag "mai" %> MAI Price</h4>
        <span class="large-text">
          <% url = 'https://api.diadata.org/v1/assetQuotation/Polygon/0xa3Fa99A148fA48D14Ed51d610c367C61876997F1' %>
          <% uri = URI(url) %>
          <% response = Net::HTTP.get(uri) %>
          <% prices = JSON.parse(response) %>
          <%= link_to "https://docs.mai.finance/functions/smart-contract-addresses#mai-mimatic-addresses", title: "Mai", target: "_blank", class: "nav-link" do %>
            $<%= (prices["Price"].to_f).round(3) %>
            (<%= (((prices["Price"] / prices["PriceYesterday"]) * 100) - 100).round(3) %>%)
          <% end %>
        </span>
      </div>
      <br />
      <div class="info-box">
        <h4><%= t('dash_chains') %></h4>
        <span class="large-text"><%= @networks.count %></span>
      </div>
      <br />
      <div class="info-box">
        <h4><%= t('dash_tokens') %></h4>
        <span class="large-text"><%= @tokens.count %></span>
      </div>
      <br />
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12">
      <h4 class="large-text text-center"><%= t('mai_price') %> (30d)</h4>
      <% url = 'https://api.coingecko.com/api/v3/coins/mimatic/market_chart?vs_currency=usd&days=30&interval=daily' %>
      <% uri = URI(url) %>
      <% response = Net::HTTP.get(uri) %>
      <% mai = JSON.parse(response) %>
      <% mai_price = mai['prices'] %>
      <% if cookies[:theme] == "dark" %>
        <%= line_chart mai_price, prefix: "$", thousands: ",", min: 0.95, max: 1.05, discrete: true, points: false, dataset: { borderWidth: 5, borderColor: "#f16e6a", tension: 0.25 }, library: { scales: { x: { ticks: { display: false } }, y: { ticks: { color: "white" } } } } %>
      <% else %>
        <%= line_chart mai_price, prefix: "$", thousands: ",", min: 0.95, max: 1.05, discrete: true, points: false, dataset: { borderWidth: 5, borderColor: "#f16e6a", tension: 0.25 }, library: { scales: { x: { ticks: { display: false } }, y: { ticks: { color: "#2d3436" } } } } %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h4 class="large-text"><%= t('mai_question') %></h4>
    <p><%= t('mai_description') %></p>
  </div>
  <br />
  <div class="row justify-content-evenly">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h4 class="medium-text text-center"><%= t('dash_backing') %></h4>
      <% if cookies[:theme] == "dark" %>
        <%= pie_chart @chain_debt,
              adapter: "google",
              donut: "true", prefix: "$", thousands: ",",
              legend: "left",
              library: { "backgroundColor": "#2d3436", "chartArea": { "width": "70%" } },
              colors: ["#4b6584", "#596275", "#a55eea", "#4b7bec", "#45aaf2", "#26de81", "#20bf6b", "#2bcbba", "#ffd32a", "#ffa801", "#e15f41", "#ff5e57", "#ef5777", "#c44569", "#f53b57"] %>
      <% else %>
        <%= pie_chart @chain_debt,
              adapter: "google",
              donut: "true", prefix: "$", thousands: ",",
              legend: "left",
              library: { "backgroundColor": "#f5f6fa", "chartArea": { "width": "70%" } },
              colors: ["#4b6584", "#596275", "#a55eea", "#4b7bec", "#45aaf2", "#26de81", "#20bf6b", "#2bcbba", "#ffd32a", "#ffa801", "#e15f41", "#ff5e57", "#ef5777", "#c44569", "#f53b57"] %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h4 class="medium-text text-center"><%= t('dash_backing_type') %></h4>
      <% if cookies[:theme] == "dark" %>
        <%= pie_chart @backing_type,
              adapter: "google",
              donut: "true", prefix: "$", thousands: ",", legend: "right",
              library: { "backgroundColor": "#2d3436", "chartArea": { "width": "70%" } },
              colors: ["#20bf6b", "#4b7bec", "#fa8231", "#eb3b5a"] %>
      <% else %>
        <%= pie_chart @backing_type,
              adapter: "google",
              donut: "true", prefix: "$", thousands: ",", legend: "right",
              library: { "backgroundColor": "#f5f6fa", "chartArea": { "width": "70%" } },
              colors: ["#20bf6b", "#4b7bec", "#fa8231", "#eb3b5a"] %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h4 class="medium-text text-center"><%= t('dash_backing_token') %></h4>
      <% if cookies[:theme] == "dark" %>
        <%= pie_chart @collateral_debt,
              adapter: "google",
              donut: "true", prefix: "$", thousands: ",", legend: "left",
              library: { "backgroundColor": "#2d3436", "chartArea": { "width": "70%" } },
              colors: ["#FFC312", "#F79F1F", "#ff9f43", "#EE5A24", "#EA2027", "#C4E538", "#A3CB38", "#1dd1a1", "#10ac84", "#009432", "#006266", "#12CBC4", "#1289A7", "#48dbfb", "#0abde3", "#54a0ff", "#2e86de", "#0652DD", "#1B1464", "#FDA7DF", "#ff9ff3", "#D980FA", "#9980FA", "#f368e0", "#5758BB", "#ff6b6b", "#ee5253", "#ED4C67", "#B53471", "#833471", "#6F1E51"] %>
      <% else %>
        <%= pie_chart @collateral_debt,
              adapter: "google",
              donut: "true", prefix: "$", thousands: ",", legend: "left",
              library: { "backgroundColor": "#f5f6fa", "chartArea": { "width": "70%" } },
              colors: ["#FFC312", "#F79F1F", "#ff9f43", "#EE5A24", "#EA2027", "#C4E538", "#A3CB38", "#1dd1a1", "#10ac84", "#009432", "#006266", "#12CBC4", "#1289A7", "#48dbfb", "#0abde3", "#54a0ff", "#2e86de", "#0652DD", "#1B1464", "#FDA7DF", "#ff9ff3", "#D980FA", "#9980FA", "#f368e0", "#5758BB", "#ff6b6b", "#ee5253", "#ED4C67", "#B53471", "#833471", "#6F1E51"] %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h4 class="medium-text text-center"><%= t('dash_backing_liq') %></h4>
      <% if cookies[:theme] == "dark" %>
        <%= pie_chart @grade_debt,
              adapter: "google",
              donut: "true", prefix: "$", thousands: ",", legend: "right",
              library: { "backgroundColor": "#2d3436", "chartArea": { "width": "70%" } },
              colors: ["#6ab04c", "#badc58", "#4834d4", "#686de0", "#be2edd", "#e056fd", "#22a6b3", "#7ed6df", "#30336b", "#130f40"] %>
      <% else %>
        <%= pie_chart @grade_debt,
              adapter: "google",
              donut: "true", prefix: "$", thousands: ",", legend: "right",
              library: { "backgroundColor": "#f5f6fa", "chartArea": { "width": "70%" } },
              colors: ["#6ab04c", "#badc58", "#4834d4", "#686de0", "#be2edd", "#e056fd", "#22a6b3", "#7ed6df", "#30336b", "#130f40"] %>
      <% end %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h4 class="large-text text-center"><%= t('mai_volume') %></h4>
      <% url = 'https://api.coingecko.com/api/v3/coins/mimatic/market_chart?vs_currency=usd&days=30&interval=daily' %>
      <% uri = URI(url) %>
      <% response = Net::HTTP.get(uri) %>
      <% mai = JSON.parse(response) %>
      <% mai_volume = mai['total_volumes'] %>
      <% if cookies[:theme] == "dark" %>
        <%= area_chart mai_volume, prefix: "$", thousands: ",", legend: false, discrete: true, points: false, dataset: { backgroundColor: "#00a8ff" }, library: { scales: { x: { ticks: { display: false } }, y: { ticks: { color: "white" } } } } %>
      <% else %>
        <%= area_chart mai_volume, prefix: "$", thousands: ",", legend: false, discrete: true, points: false, dataset: { backgroundColor: "#00a8ff" }, library: { scales: { x: { ticks: { display: false } }, y: { ticks: { color: "#2d3436" } } } } %>
      <% end %>
    </div>
  </div>
  <br />
  <div class="row justify-content-end">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <h4 class="medium-text text-center"><%= svg_tag "asterisk" %> <%= t('dash_score_topten') %></h4>
      <ol>
        <% @byscore.each do |token| %>
          <li>
            <strong><%= token.symbol %> <span style="color: <%= token.network.color %>">(<%= token.network.name %>)</span></strong>
            <div class="float-end">
              <%= link_to token.grade, token, title: token.symbol + " on (" + token.network.name + ")", class: "plain_link" %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <h4 class="medium-text text-center"><%= svg_tag "asterisk" %> <%= t('dash_vol_topten') %></h4>
      <ol>
        <% @byvolatility.each do |token| %>
          <li>
            <strong><%= token.symbol %> <span style="color: <%= token.network.color %>">(<%= token.network.name %>)</span></strong>
            <div class="float-end">
              <%= link_to token.risk_volatility, token, title: token.symbol + " on (" + token.network.name + ")", class: "plain_link" %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <h4 class="medium-text text-center"><%= svg_tag "asterisk" %> <%= t('dash_liq_topten') %></h4>
      <ol>
        <% @byliquidity.each do |token| %>
          <li>
            <strong><%= token.symbol %> <span style="color: <%= token.network.color %>">(<%= token.network.name %>)</span></strong>
            <div class="float-end">
              <%= link_to number_to_currency(token.liquidity), token, title: token.symbol + " on (" + token.network.name + ")", class: "plain_link" %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
